<div>
  <div>
    <sly-file-storage-upload
      v-if="modal.state.slyProjectId && !(context.slySelectedContext == 'agent_folder' || context.slySelectedContext == 'agent_file')"
      :options="{ folder: '/import/import-dicom-volumes/' + context.formId + '/' }"
      @files-uploaded="modal.state.files = '/import/import-dicom-volumes/' + context.formId + '/'"
    >
    </sly-file-storage-upload>
  </div>
  <div
    v-if="context.slySelectedContext == 'agent_folder' || context.slySelectedContext == 'agent_file'"
  >
    <sly-field
      title="Result project"
      description="Define destination project and/or dataset"
    >
      <div class="fflex">
        <el-radio
          class="radio"
          v-model="modal.state.dstProjectMode"
          label="newProject"
          @input="(val) => {
                              if (val === 'newProject') {
                                  modal.state.dstDatasetMode = 'newDataset';
                                  modal.state.slyProjectId = ''
                              }
                            }"
        >
          Create new project
        </el-radio>
        <el-radio
          class="radio"
          v-model="modal.state.dstProjectMode"
          label="existingProject"
          @input="(val) => {
                              if (val === 'existingProject') {
                                  modal.state.dstDatasetMode = 'newDataset';
                                  modal.state.slyDatasetId = ''
                              }
                            }"
          >Add to existing project
        </el-radio>
        <el-radio
          class="radio"
          v-model="modal.state.dstProjectMode"
          label="existingDataset"
          >Add to existing dataset
        </el-radio>
      </div>
      <div class="mt5">
        <div
          v-if="modal.state.dstProjectMode === 'existingProject' || modal.state.dstProjectMode === 'existingDataset'"
        >
          <sly-select-project
            :workspace-id="context.workspaceId"
            :project-id.sync="modal.state.slyProjectId"
            :options="{availableTypes: ['volumes']}"
          >
          </sly-select-project>
        </div>
        <div v-if="modal.state.dstProjectMode === 'existingDataset'">
          <sly-select-dataset
            :project-id="modal.state.slyProjectId"
            :datasets.sync="modal.state.slyDatasetId"
            :options="{multiple: false, valueProperty: 'id'}"
          ></sly-select-dataset>
        </div>
      </div>
    </sly-field>
  </div>
  <div
    v-if="!modal.state.slyProjectId"
    class="fflex align-start"
    style="flex-direction: column; margin: 20px 0"
  >
    <sly-field
      title="Result Project Name"
      description="Enter project name manually (optional) or keep empty to generate it automatically"
    >
    </sly-field>
    <el-input
      placeholder="Enter Project Name"
      v-model="modal.state.dstProjectName"
    ></el-input>
  </div>
  <div class="mt10">
    <el-checkbox v-model="modal.state.anonymizeVolumes"
      >Anonymize patient name and ID</el-checkbox
    >
  </div>
  <div class="mt10 mb10" v-if="!modal.state.prefNodeId">
    <el-checkbox v-model="modal.state.removeSource"
      >Remove source files from Team Files after successful import</el-checkbox
    >
  </div>
</div>
